<h1>List of Recipes</h2>
  <form action="/recipes" method="post">
  <input id="name" type="text" name="name">
  <input id="name" type="text" name="name">
  <input id="name" type="text" name="name">
  <input type="submit" value="submit">
</form>
